@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Press+Start+2P&display=swap');

:root {
  --color-primary: #397367;
  --color-secondary: #63ccca;
  --color-tertiary: #5da399;
  --color-quaternary: #42858c;
  --color-text: #35393c;

  --color-background: #63ccca;
  --color-background-soft: #5da399;
  --color-background-mute: #42858c;

  --color-border: rgba(53, 57, 60, 0.12);
  --color-border-hover: rgba(53, 57, 60, 0.29);

  --color-heading: #397367;

  --section-gap: 160px;
}

/* Dark mode commented out as requested */
/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #35393C;
    --color-background-soft: #42858C;
    --color-background-mute: #397367;

    --color-border: rgba(99, 204, 202, 0.48);
    --color-border-hover: rgba(99, 204, 202, 0.65);

    --color-heading: #63CCCA;
    --color-text: #63CCCA;
  }
}
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: 700;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-mute);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Electrolize', sans-serif, 'Press Start 2P', system-ui;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
